<!DOCTYPE html>

<html>

<head>

<title>Employee Management</title>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js"></script>

<script type="text/javascript" src="app/app.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body ng-app="app" ng-controller="Main as main">

	<h1>Employee Management System</h1>
	<script>
	;
	(function() {
		function authInterceptor(API, auth) {
			//alert("In authInterceptor");
			return {
				// automatically attach Authorization header
				request : function(config) {
					//skip register and login web calls
					if (config.url.indexOf(API + "/register") === 0) {
						//Skip this call
					} else if (config.url.indexOf(API + "/authenticate") === 0) {
						//Skip this call
					} else //Attach token to all other http request as auth header 
					{
						var token = auth.getToken();
						if (config.url.indexOf(API) === 0 && token) {
							config.headers.Authorization = 'Bearer '
									+ token;
						}
					}
					return config;
				},

				response : function(res) {
					if (res.config.url.indexOf(API) === 0 && res.data.token) {
						auth.saveToken(res.data.token);
					}

					return res;
				},
			}
		}

		function authService($window) {
			var srvc = this;

			srvc.parseJwt = function(token) {
				var base64Url = token.split('.')[1];
				var base64 = base64Url.replace('-', '+').replace('_', '/');
				return JSON.parse($window.atob(base64));
			};

			srvc.saveToken = function(token) {
				$window.localStorage['jwtToken'] = token
			};

			srvc.logout = function(token) {
				$window.localStorage.removeItem('jwtToken');
			};

			srvc.getToken = function() {
				return $window.localStorage['jwtToken'];
			};

			srvc.isAuthed = function() {
				var token = srvc.getToken();
				if (token) {
					var params = srvc.parseJwt(token);
					return Math.round(new Date().getTime() / 1000) <= params.exp;
				} else {
					return false;
				}
			}

		}

		function userService($http, API, auth) {
			var srvc = this;
			
			srvc.getAllEmployee = function() {
				//alert("getAllEmployee called");
				return $http.get(API + '/getAllEmployee')
			}
			
			srvc.addEmployee = function(employee) {					
				//alert("In Add Employee id:" + employee.id);					
				if(employee.id)
			    {
					//alert("update called:" + employee.id);
					return $http.put(API + '/updateEmployee', employee)
			    }
				else
				{	//alert("Add called:");
					return $http.post(API + '/addEmployee', employee)
				}
			}
			
			srvc.editEmployee = function(employee) {
				//alert("In Edit Employee:" + employee);					
				return $http.put(API + '/updateEmployee', employee)
			}
			
			srvc.deleteEmployee = function(employee) {
				//alert("In delete Employee:" + employee.id);		
				//alert("In delete Employee:" + employee.firstName);
				return $http.delete(API + '/deleteEmployee/'+ employee.id)
			}
			
			srvc.register = function(email, password) {
				//alert("In register");
				return $http.post(API + '/register', {
					email : email,
					password : password,
				});
			};

			srvc.login = function(email, password) {
				return $http.post(API + '/authenticate', {
					email : email,
					password : password
				});
			};

		}

		
		// We won't touch anything in here
		function MainCtrl(user, auth) {
			var self = this;
			
			var isAuthed = auth.isAuthed(); 
			
			if(isAuthed)
			{
			 	user.getAllEmployee().then(handleAllEmployee,handleAllEmployee);
			}
			
			function handleRequest(res) {
				//alert("handleRequest");
				var token = res.data ? res.data.token : null;
				if (token) {
					console.log('JWT:', token);
				}					
				self.message = res.data.message;
			}

			function handleAllEmployee(res) {
				var employees = res.data.data ? res.data.data : null;
				self.employees = employees;
				self.message = res.data.message;
			}
			
			function handleAddEmployee(res) {
				//alert("handleAddEmployee");
				user.getAllEmployee().then(handleAllEmployee,handleAllEmployee);
				self.employee ={};
			}
	
			function handleDeleteEmployee(res) {
				//alert("handleDeleteEmployee");
				user.getAllEmployee().then(handleAllEmployee,handleAllEmployee);
				self.employee ={};
			}
			self.login = function() {
				user.login(self.email, self.password).then(handleRequest,
						handleRequest)							
			}
			
			self.register = function() {
				user.register(self.email, self.password).then(
						handleRequest, handleRequest)
			}
			
			self.getAllEmployee = function() {
				user.getAllEmployee().then(handleAllEmployee,handleAllEmployee)
			}
			
			self.addEmployee = function() {
				user.addEmployee(self.employee).then(handleAddEmployee,handleAddEmployee);
			}						
			
			self.initAddEmployee = function() {					
				self.employees = self.getAllEmployee();
				self.employee = {};					
			}
			
			self.initUpdateEmployee = function(employee) {				
				self.employee = employee;
			}
			
			self.editEmployee = function() {
				user.editEmployee(self.employee).then(handleRequest,
						handleRequest)
			}
			
			self.deleteEmployee = function(employee) {					
				self.employee = employee;
				user.deleteEmployee(self.employee).then(handleDeleteEmployee,handleDeleteEmployee)
			}
			
			self.logout = function() {
				auth.logout && auth.logout()
			}
			self.isAuthed = function() {
				return auth.isAuthed ? auth.isAuthed() : false
			}
		}
			
		
		angular.module('app', [ 'ngResource' ])
		.factory('authInterceptor',authInterceptor)
		.service('user', userService)
		.service('auth', authService)			
		.constant('API','http://localhost:8080')
		.config(function($httpProvider) {
			$httpProvider.interceptors.push('authInterceptor');	})
		.controller('Main', MainCtrl)			
	})();

	</script>

	<input type="text" ng-model="main.email" placeholder="email">
	<br>
	<input type="password" ng-model="main.password" placeholder="password">
	<br>
	<br>

	<button ng-click="main.register()">Register</button>
	<button ng-click="main.login()">Login</button>
	<button ng-click="main.logout()" ng-show="main.isAuthed()">Logout</button>

	<!-- <button ng-click="main.getAllEmployee()">get Employee List</button>  -->
	<br>
	<br> {{main.message}}

	<br>
	<br>
	<br>
	<div class="panel panel-default">

		<div class="panel-heading">Employees</div>

		<div class="panel-body">

			<button ng-click="main.initAddEmployee()">Add new Employee</button>
			<form id="mainForm" class="col-md-4" ng-submit="main.addEmployee(main.employee)">

				<div class="form-group">

					<label for="employeeFirstName">First Name</label> <input
						type="text" ng-model="main.employee.firstName"
						class="form-control" id="employee.firstName"
						placeholder="Employee First Name" required>					
				</div>

				<div class="form-group">

					<label for="employee.lastName">Last Name</label> <input type="text"
						ng-model="main.employee.lastName" class="form-control"
						id="employee.lastName" placeholder="Employee Last Name" required>
				</div>



				<div class="form-group">

					<label for="employeeEmail">Email</label> <input type="email"
						ng-model="main.employee.email" class="form-control" id="email"
						placeholder="Employee Email" required>
				</div>



				<button type="submit" class="btn btn-default">Submit</button>



			</form>




			<div class="table-responsive col-md-6">

				<table class="table table-striped">

					<tr>

						<th>First Name</th>

						<th>Last Name</th>

						<th>Email</th>

						<th></th>

					</tr>

					<tr ng-repeat="employee in main.employees">

						<td>{{employee.firstName}}</td>

						<td>{{employee.lastName}}</td>

						<td>{{employee.email}}</td>

						<td>

							<button type="button" class="btn btn-default"
								ng-click="main.initUpdateEmployee(employee)">

								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>

							</button>

							<button type="button" class="btn btn-default"
								ng-click="main.deleteEmployee(employee)">

								<span class="glyphicon glyphicon-remove-circle"
									aria-hidden="true"></span>

							</button>

						</td>

					</tr>

				</table>

			</div>

		</div>

	</div>

</body>
</html>